package main

import (
	"github.com/urfave/cli/v2"
	"log"
	"os"

	"github.com/roma-glushko/goproj/cmd"
	"github.com/roma-glushko/goproj/internal/version"
)

const Copyright = `{{_year}}-Present, {{author_name}} (c)`

func main() {
	cliApp := cli.App{
		Name:                 "{{project_name}}",
		Usage:                "{{project_descr}}",
		Version:              version.FullVersion,
		Copyright:            Copyright,
		Suggest:              true,
		EnableBashCompletion: true,
		Flags: []cli.Flag{
			&cli.BoolFlag{
				Name:    "debug",
				Aliases: []string{"d"},
				Usage:   "set verbose level",
			},
		},
		Commands: []*cli.Command{
			cmd.HelloCommand,
		},
	}

	if err := cliApp.Run(os.Args); err != nil {
		log.Fatal(err)
	}
}
